.Device {
    margin: 0 2rem 1rem 0;
    // &--portrait {
    //     .Device__object {
    //         transition: transform 0.5s ease;
    //     }
    // }
    // &--landscape {
    //     .Device__object {
    //         transition: transform 0.5s ease;
    //     }
    // }
}

.Device__name {
    font-size: 0.6rem;
}

.Device__object {
    background: white;
}