@import '../../../constants.scss';

.Button {
    border-radius: 2rem;
    text-align: center;
    padding: 0.375rem 0.75rem;
    color: $white;

    &--withIcon {
        .Button__text {
            margin-left: $smallMargin;
        }
    }
}

.Button__primary {
    background-color: $primaryColor;

    &:hover {
        background-color: $primaryColorHover;
    }

    &:focus,
    &--active {
        background-color: $primaryColorActive;
    }
}

.Button__secondary {
    background-color: $secondaryColor;

    &:hover {
        background-color: $secondaryColorHover;
    }

    &:focus,
    &--active {
        background-color: $secondaryColorActive;
    }
}