@import '../../constants.scss';

.App {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
}

.App__header {
    width: 100%;
    margin: $largeMargin;
    margin-left: $sidebarWidth;
}

.App__sidebar {
    position: fixed;
    width: $sidebarWidth;
}

.App__content {
    width: $contentWidth;
    margin-left: $sidebarWidth;
    padding: $mediumPadding;
    overflow: hidden;
}