@import '../../../constants.scss';

$filterButtonFontSize: 0.7rem;

.MakeFilter__list {
    @extend %flexCenterVertically;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: $smallMargin;
}

.MakeFilter__listItem {
    list-style: none;
    padding: 0 $smallPadding $smallPadding 0;
    .Button {
        font-size: $filterButtonFontSize;
        padding: ($smallPadding / 2) $smallPadding;
    }
}