@import '../../constants.scss';

$headerHeight: 3.5rem;

.Header {
    background-color: $componentColor;
    border-radius: $commonBorderRadius;
    margin-bottom: $largeMargin;
    height: $headerHeight;
}

.Header__githubIcon {
    margin-right: $smallMargin;
}