@import '../../../constants.scss';

$filterButtonFontSize: 0.7rem;

.FilterEntity__list {
    @extend %flexCenterVertically;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: $smallMargin;
}

.FilterEntity__listItem {
    list-style: none;
    padding: 0 $smallPadding $smallPadding 0;

    &--selected {
        .FilterEntity__button {
            background: $secondaryColorActive;
        }
    }

    .FilterEntity__button {
        font-size: $filterButtonFontSize;
        padding: ($smallPadding / 2) $smallPadding;
    }
}