@import '../../../constants.scss';

.SidebarButton__popover.popover {
    margin-left: -$mediumMargin;
    margin-top: -$xSmallMargin;
    border-radius: $commonBorderRadius / 2;
    background-color: $componentColor;
    border: none;
    max-width: 30rem;
    :first-child::before {
        border: none;
    }
    .SidebarButton__popoverTitle {
        background-color: transparent;
    }
}