@import '../../../constants.scss';

$sidebarIconSize: 1.25rem;

.Sidebar {
    @extend %flexCenter;
    flex-wrap: wrap;
    height: 100vh;
}

.Sidebar__menu {
    width: 100%;
}

.Sidebar__menuItem {
    width: 100%;
    color: $secondaryColor;
    margin-top: $largeMargin;
    font-size: $sidebarIconSize;
}
