//==============================================================================
// Colors
//==============================================================================

$white:                         #FFFFFF;
$primaryColor:                  #A3A0FB;
$secondaryColor:                #A5A4BF;
$backgroundColor:               #F0F0F7;
$componentColor:                #F8F9FA;
$backdropColor:                 rgba(0, 0, 0, 0.50);

// State Colors

$primaryColorHover:             lighten($primaryColor, 5); 
$primaryColorActive:            darken($primaryColor, 15);

$secondaryColorHover:             lighten($secondaryColor, 5); 
$secondaryColorActive:            darken($secondaryColor, 15);

//==============================================================================
// Spacing
//==============================================================================

$xSmallPadding:                 0.25rem;
$smallPadding:                  0.5rem;
$mediumPadding:                 1rem;
$largePadding:                  1.5rem;
$xLargePadding:                 2.5rem;

$xSmallMargin:                  0.25rem;
$smallMargin:                   0.5rem;
$mediumMargin:                  1rem;
$largeMargin:                   1.5rem;
$xLargeMargin:                  2.5rem;


//==============================================================================
// Animations
//==============================================================================

$menuTransition:                width 0.5s ease;

//==============================================================================
// Border
//==============================================================================

$commonBorderRadius:            2rem;

//==============================================================================
// Layout / Positioning
//==============================================================================

%flexCenter {
    display:                    flex;
    justify-content:            center;
    align-items:                center;
}

%flexCenterVertically {
    display:                    flex;
    align-items:                center;
    height:                     100%;
}

%flexCenterHorizontally {
    display:                    flex;
    justify-content:            center;
}

//==============================================================================
// Components
//==============================================================================

$sidebarWidth: 5rem;
$contentWidth: calc(100% - #{$sidebarWidth});