//==============================================================================
// Colors
//==============================================================================

$white:                         #FFFFFF;
$primaryColor:                  #A3A0FB;
$secondaryColor:                #A5A4BF;
$backgroundColor:               #F0F0F7;
$headerColor:                   $white;

//==============================================================================
// Spacing
//==============================================================================

$smallPadding:                  0.5rem;
$mediumPadding:                 1rem;
$largePadding:                  2rem;

$smallMargin:                   0.5rem;
$mediumMargin:                  1rem;
$largeMargin:                   2rem;


//==============================================================================
// Animations
//==============================================================================

$menuTransition:                width 0.5s ease;

//==============================================================================
// Layout / Positioning
//==============================================================================

%flexCenter {
    display:                    flex;
    justify-content:            center;
    align-items:                center;
}

%flexCenterVertically {
    display:                    flex;
    align-items:                center;
    height:                     100%;
}

%flexCenterHorizontally {
    display:                    flex;
    justify-content:            center;
}

//==============================================================================
// Components
//==============================================================================

