@import "~bootstrap/scss/bootstrap";
@import './constants.scss';

//==============================================================================
// Common
//==============================================================================


html {
  font-size: inherit;
}

body {
  background-color: $backgroundColor;
  font-family: 'Raleway', sans-serif;
}

.Body--withBackdrop {
  overflow: hidden;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: $sidebarWidth;
    background: $backdropColor;
    width: calc(100% - #{$sidebarWidth});
    height: 1000%;
  }
}

//==============================================================================
// Overides
//==============================================================================

button {
  background: none;
  border: none;
  &:focus,
  &:hover {
    background: none;
    border: none;
    outline: none;
  }
}

.form-control {
  border-radius: 2rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.05);
  &:focus {
    border: 0.05rem solid rgba(0, 0, 0, 0.15);
    box-shadow: unset;
  }
}

.popover {
  font-family: unset;
}